$white--color: #fff;
$slate--color: #f3f3f4;
$gray--color: #e7e7e9;
$gray--color--medium: #ccc;
$slate--green-color:#f4f4f4cf;

$black--color: #000;
$faded--black--color: #3d3d4e;
$faded--gray--color: #9e9ea7;

$primary--color: #70e000;
$secondary--color: #004b23;